# Importando Bilbiotecas

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Abrindo o arquivo movie_actors_names_dists com o Pandas

In [2]:
my_col = ["indice", "Name", "d0", "d1", "d2", "d3", "d4", "d5", "d6", "d7", "d8", "d9", "d10", "d11", "d12", "d13", "d14", "d15", "d16", "d17"]
main_names = pd.read_csv("movie_actors_names_dists.txt", sep = ' ', header=None, names=my_col, encoding = "ISO-8859-1", low_memory=False)

In [3]:
main_names = main_names.drop(['indice'], axis=1)

# Tratando a base de dados

## Tratando dados que vieram com a coluna 'd0' junta ao 'Name'

In [4]:
for i in range(0,6):
    main_names[f'text{i}'] = main_names[f'd{i}'].str.extract(f'(?P<text{i}>\D+)')
    main_names[f'd{i}']    = main_names[f'd{i}'].str.extract(f'(?P<d{i}>\d+)')

## Tratando dados que vieram com o nome propagado para outras coluna ('d0', 'd1', 'd2', 'd3', 'd4', 'd5')

In [5]:
for i in main_names.index:
    if   pd.notna(main_names.text5[i]) and main_names.text5[i] != 'nan':
        main_names['Name'][i] = str(main_names['Name'][i]) + ' ' + str(main_names['text0'][i]) + ' ' + str(main_names['text1'][i]) + ' ' + str(main_names['text2'][i]) + ' ' + str(main_names['text3'][i]) + ' ' + str(main_names['text4'][i]) + ' ' + str(main_names['text5'][i])
    elif pd.notna(main_names.text4[i]) and main_names.text4[i] != 'nan':
        main_names['Name'][i] = str(main_names['Name'][i]) + ' ' + str(main_names['text0'][i]) + ' ' + str(main_names['text1'][i]) + ' ' + str(main_names['text2'][i]) + ' ' + str(main_names['text3'][i]) + ' ' + str(main_names['text4'][i])
    elif pd.notna(main_names.text3[i]) and main_names.text3[i] != 'nan':
        main_names['Name'][i] = str(main_names['Name'][i]) + ' ' + str(main_names['text0'][i]) + ' ' + str(main_names['text1'][i]) + ' ' + str(main_names['text2'][i]) + ' ' + str(main_names['text3'][i])
    elif pd.notna(main_names.text2[i]) and main_names.text2[i] != 'nan':
        main_names['Name'][i] = str(main_names['Name'][i]) + ' ' + str(main_names['text0'][i]) + ' ' + str(main_names['text1'][i]) + ' ' + str(main_names['text2'][i])
    elif pd.notna(main_names.text1[i]) and main_names.text1[i] != 'nan':
        main_names['Name'][i] = str(main_names['Name'][i]) + ' ' + str(main_names['text0'][i]) + ' ' + str(main_names['text1'][i])
    elif pd.notna(main_names.text0[i]) and main_names.text0[i] != 'nan':
        main_names['Name'][i] = str(main_names['Name'][i]) + ' ' + str(main_names['text0'][i])

In [6]:
main_names.drop(columns=['text0', 'text1', 'text2', 'text3', 'text4', 'text5'], axis=0, inplace=True)

## Garantindo que d0 é 1 para todos

In [7]:
np.where(main_names['d1'] != '1', main_names['d0'], 1)

array([nan, 1, nan, ..., 1, 1, 1], dtype=object)

## Trazendo as colunas com os nomes propagados para as suas devidas colunas. Ex: d0 = 'Bacon' e d1 = 1, ajustando para Name = 'Bacon, Kevin' e d0 = 1 e assim sucessivamente

In [8]:
for i in range(0, len(main_names)):
    if main_names.iloc[i][1:7].isnull().values.all() == True or main_names.iloc[i][1:7].all() == 'nan':
        for j in range(0,13):
            main_names[f'd{j}'][i] = main_names[f'd{j + 5}'][i]

In [9]:
for i in range(0, len(main_names)):
    if main_names.iloc[i][1:6].isnull().values.all() == True or main_names.iloc[i][1:6].all() == 'nan':
        for j in range(0,14):
            main_names[f'd{j}'][i] = main_names[f'd{j + 4}'][i]

In [10]:
for i in range(0, len(main_names)):
    if main_names.iloc[i][1:5].isnull().values.all() == True or main_names.iloc[i][1:5].all() == 'nan':
        for j in range(0,15):
            main_names[f'd{j}'][i] = main_names[f'd{j + 3}'][i]

In [11]:
for i in range(0, len(main_names)):
    if main_names.iloc[i][1:4].isnull().values.all() == True or main_names.iloc[i][1:4].all() == 'nan':
        for j in range(0,16):
            main_names[f'd{j}'][i] = main_names[f'd{j + 2}'][i]

In [12]:
for i in range(0, len(main_names)):
    if main_names.iloc[i][1:3].isnull().values.all() == True or main_names.iloc[i][1:3].all() == 'nan':
        for j in range(0,17):
            main_names[f'd{j}'][i] = main_names[f'd{j + 1}'][i]

In [ ]:
for i in main_names[main_names['d0'].isna()].index:
    for j in range(0,17):
        main_names[f'd{j}'][i] = main_names[f'd{j + 1}'][i]

## Apagando linhas onde d1 até d17 tem valor nulo (não tem conexão)

In [ ]:
nulos = []
for i in range(0, len(main_names)):
    if main_names.iloc[i][3:18].isnull().values.all() == True:
        nulos.append(i)

In [ ]:
main_names.drop(nulos, axis=0, inplace=True)

## Transformando as colunas em float

In [ ]:
for i in range(0,18):
    main_names[f'd{i}'] = main_names[f'd{i}'].astype(float)

## Arrumando o nome dos atores para Nome + Último nome

In [ ]:
df[['Name', 'Last']] = df['Name'].str.split(', ', expand=True)
df['Name'] = df['Last'] + ' ' + df['Name']
df = df.drop(columns=['Last'])

# Gravando a base tratada em um csv

In [ ]:
# main_names.to_csv('main_names.csv', sep=';')

# Abrindo o arquivo movie_actors com o Pandas

In [ ]:
main_actors = pd.read_csv("movie_actors.net", header=None, sep = ' ')
main_actors

# Removendo os mesmos atores que foram removidos da outra base

In [ ]:
for i in nulos:
    main_actors[0] = main_actors[main_actors[0] != i]
    main_actors[1] = main_actors[main_actors[1] != i]

# Gravando a base tratada em um csv

In [ ]:
# main_actors.to_csv('relations.csv', sep=';')

# Verificando as gravações

In [ ]:
df = pd.read_csv("main_names.csv", sep = ';')
df1 = pd.read_csv("relations.csv", sep = ';')

In [ ]:
df

In [ ]:
df1